<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Which Course</title>
		<meta name="description" content="">
		<meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<style type="text/css">
			body{
				padding-top: 0px;
			}
			h1{
				font-size: 36pt;
				padding-bottom: 30px;
			}
			h3{
				color: red;  
			}
			.pre-content{
				text-align: center;
			}
			.main-content{
				margin-top:70px;
				text-align:center;
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<a class="brand">WhichCourse</a>
				<ul class="nav">
					<li><a href="/">Home</a></li>
				</ul>
			</div>
		</div>
		
		<div class="container">
			<p>&nbsp;</p>
			<div class="pre-content">
				<p class="lead">WhichCourse aggregates course reviews from Carnegie Mellon University's Faculty Course Evaluations and lets users search the reviews for easy side-by-side comparison. Only courses with more than 10 reviews are displayed. Search for courses by entering a list of course ID's separated by commas.</p>
			</div>
		</div>

		<div class="container-fluid">
			<div class="main-content">
				<h1>Search for Course Ratings</h1>
				<form action="/" method="post" class="form-inline">
					<input type="text" class="span8" id="main-input" name="search">
					<p>&nbsp;</p>
					<button class="btn btn-large btn-primary">Find</button>
				</form>
				<p>&nbsp;</p>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>

		

